.App {
  min-height: 100vh;
  /* background: rgb(237, 227, 241); */
  background: #e4dddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title {
  align-items: center;
  width: 100%;
  letter-spacing: 3px;
  padding: 0.5rem 0;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 3rem;
  background: #ef233c;
  color: #ffffff;
  margin-top: -0.1rem;
}

.search-form {
  min-height: 10vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 90%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
  outline: none;
  padding: 10px;
}

.search-button {
  background: #ef233c;
  border: none;
  font-weight: 200;
  font-size: 1rem;
  outline: none;
  padding: 9px 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #ffffff;
}

.recipes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1rem;
}
