.recipe {
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  flex-direction: column;
  justify-content: center;
  background: white;
  align-items: center;
  min-width: 20%;
  width: 90%;
}

.image {
  border-radius: 8px;
  width: 80%;
  margin-bottom: 1rem;
}

.heading {
  text-align: start;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 100;
}

.ingredients {
  width: 80%;
  margin-top: 0;
  margin: 1.2rem;
}

.calories {
  font-size: 1.2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  width: 100%;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  background: rgba(0, 0, 255, 0.5);
  border-radius: 8px;
  padding: 0.5rem;
  width: 80%;
  font-weight: 200;
  text-align: center;
  color: #000000;
}
